body {
    /* background-image: url('../myImages/background.gif'); */
    background: pink;
    max-width: 960px;
    
}
#master-container {
    background:gray;
    width: 100%;
    height: 500px;
    margin-top: 20px;
    margin-left: 20px;
    border: 10px solid #fff;
    border-radius: 10px;

}
#master-col-container {
  
}
.row {
    display: -ms-inline-grid;
}
#logo {
    color: white;
    text-align: center;
    border-bottom: 2px solid #fff;
    padding-top: 5px;
    padding-bottom: 5px;
}
#left-col {
    float: left;
    background: skyblue;
    max-width: 50%;
    border-right:2px solid #fff;
}
#right-col {
    float: left;
    background: yellow;
    max-width: 50%;
    /* margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px; */
    
}
